<div class="container">
  <div class="row" ng-repeat="item in items">
    <div class="col-xs-1">
    </div>
    <div class="col-md-9 col-xs-11">

      <div class="info">
        <a ng-href="#/items/{{ item.Id }}">
          {{ item.Name }}
        </a>
      </div>
      
    </div>
  </div>
</div>