<div>
  <a ng-click="newFolder()">New Folder</a>
</div>

<div class="row">
  <div class="col-md-1">
    <h3>Id</h3>
  </div>
  <div class="col-md-4">
    <h3>Name</h3>
  </div>
  <div class="col-md-1">
    <h3>Type</h3>
  </div>
  <div class="col-md-2">
    <h3>Modified</h3>
  </div>
</div>

<div class="row" ng-if="editing">
  <form ng-submit="saveItem()">
    <input type="text" ng-model="item.Name">
    <button type="submit" class="btn btn-primary">Save</button>
    <a ng-click="cancel()" class="btn btn-small">cancel</a>
  </form>
</div>

<div class="row" ng-repeat="item in items">
  <div class="col-md-1">
    {{ item.Id }}
  </div>
  <div class="col-md-4">
    {{ item.Name }}
  </div>
  <div class="col-md-1" ng-switch on="item.FileType">
    <span ng-switch-when="0">Folder</span>
    <span ng-switch-when="1">File</span>
    <span ng-switch-when="2">Image</span>
    <span ng-switch-when="3">Music</span>
    <span ng-switch-when="4">Video</span>
    <span ng-switch-when="5">Document</span>
    <span ng-switch-default>Unknown</span>
  </div>
  <div class="col-md-2">
    {{ item.LastModifyDate | date: 'short' }}
  </div>
  <div class="col-md-1">
    <a ng-click="editItem(item)">Edit</a>
  </div>
  <div class="col-md-1">
    <a ng-click="deleteItem(item)">Delete</a>
  </div>
</div>