<div class="auth-forms">

  <h2>Log In</h2>

  <form ng-submit="login()">
    <p ng-show="error" class="text-danger">{{ error }}</p>
    <div class="form-group">
     	<input type="email" ng-model="user.name" placeholder="Email" class="form-control">
    </div>
    <div class="form-group">
    	<input type="password" ng-model="user.password" placeholder="Password" class="form-control">
    </div>
    <div class="form-group">
    	<input type="checkbox" ng-model="user.rememberMe"> Remember me
    </div>
    <input type="submit" value="Log in" class="btn btn-primary" />
  </form>

</div>